
.box-container {
    position: fixed;
    right: 1%; 
    top: 380px; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: flex-end;
    margin-left: 1px;
  }
  
.box-header {
  width: 100%;
  display: flex;
  justify-content: space-between; /* título à esquerda, botão à direita */
  align-items: center;
  padding: 6px 20px; /* espaço interno */
  box-sizing: border-box;
}

.box-header h3 {
  margin: 10px;
  font-size: 22px; /* ajuste conforme seu design */
}

.box {
  width: 380px; 
  height: 220px;
  background-color: #ffffff; 
  border-radius: 15px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

  .box-image{
    cursor: pointer;
  }
  
  .box-image:hover{
    transform: scale(1.3);
    transition: 0.1s;
  }


.box-hide-btn:hover {
  background: #ee2828;
}
 
.reopen-wrapper {
  position: fixed;
  right: 20px;
  z-index: 9999;
}

/* Mesma largura / altura / estilo pra todos os botões */
.reopen-btn {
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 10px;
  background: #ee2828;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  font-weight: 650;
  min-width: 110px;
  height: 45px;
  color: #fff;
}

.reopen-btn:hover {
  filter: brightness(0.95);
}

/* posições verticais (empilhados) */


.reopen-wrapper--examples {
  bottom: 90px;
}

.reopen-wrapper--shortcuts {
  bottom: 35px;
}