.mainMyAccount{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    /* justify-content: center; */
    align-items: center;
}
h1, h2, h3,h4{
    margin: 0
}

.header-myAccount{
    margin-top: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.planEasyManegement{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 38%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.memberSince{
    width: 40%;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 5px;
   margin-left: -20px;
   background: linear-gradient(180deg, rgb(230, 44, 49), rgb(150, 20, 25));
   color: white;

   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px;
}

.informationOfPlan{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.manageMembership{
    padding: 5px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    /* border: 1px solid; */
    /* justify-content: center; */
}

.manageMembership:hover{
    background-color: rgba(128, 128, 128, 0.11);
    transform: scale(1.01);
}

.hr {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.322);
}