.secondColumnApp{
    padding: 15px;
    width: 80%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../../sources/backgroundApp.png");
}