.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    text-align: center;
}

.plansContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 650px;
    width: 100%;
}

.plan {
    width: 20%;
    border: 1px solid;
    border-radius: 20px;
    height: 80%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 00.5s);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

.tier {
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    position: static;
}

.textPlan {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.textPlan ul {
    font-family: 'Roboto Mono';
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}

.target {
    width: 40%;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 5px;
    background: linear-gradient(180deg, rgb(230, 44, 49), rgb(150, 20, 25));
    color: white;

    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');