.contentHomePage{
    width: 100%;
    height: 90%;
    display: flex;
}

.firstContentHome{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.textAreaHomeContent{
    width: 80%;
}

    

.textAreaHomeContent h1{
    font-family: "viga";
    font-size: 3.2rem;
    margin: 0;
    text-align: start;
    color: white;
}

.textAreaHomeContent p{
    font-family: 'Segoe UI';
    color: white;
    text-align: start;
    margin: 0;

}

.buttonAreaHomeContent{
    width: 80%;
    display: flex;
}

.buttonAreaHomeContent button:hover{
    background-color: white;
    color: #e62c31;
    border: 1px solid #e62c31;
    transition: 0.5s;
}

.secondContentHome{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

