.firstColumnApp {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
    padding: 20px;
    width: 25%;
    height: 100dvh;
    padding-top: 10px;
    box-shadow: 10px 5px 38px -6px rgba(0, 0, 0, 0.50);
    z-index: 10000;
}

.steps {
    margin: 0;
    margin-bottom: -10px;
    color: rgba(124, 17, 20, 0.404);
}

.logos {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    width: 100%;
}

.inputInformationsGroup {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 150px;
}

.inputInformationsGroup p {
    margin: 0;
}

.adressTelAndDates {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    width: 100%;
}

.layoutOptions {
    background-color: rgb(230, 44, 49, 0.2);
    padding: 20px;
    border-radius: 20px;
}

.upload-button {
    margin: 0;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #e62c31;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI';
}

.upload-button:hover {
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: inset 0px -30px 49px -33px rgba(87, 11, 11, 1);
}

.buttonsLayout {
    display: flex;
    gap: 10px;
    width: 100%;

}

.loadLayoutSaved {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.loadLayoutSaved p {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 700;
    font-family: 'Segoe UI';
}

.uploadYourLayout {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploadYourLayout p {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 700;
    font-family: 'Segoe UI';
}

.division {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;

}

.division hr {
    width: 43%;
    border: 1px solid black;
}

.selectandChoyceLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.selectAndButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.selectFormatTabloid {
    width: 100%;
}




.addProductContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    background-color: rgb(230, 44, 49, 0.2);
    padding: 10px;
    border-radius: 20px;
}

.addProductContent p {
    width: 100%;
    margin: 0;
    font-size: 0.6rem;
    font-weight: 700;
    font-family: 'Segoe UI';
}

.uploadExcel {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    width: 100%;
    gap: 20px;
}

.addContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    width: 100%;
    gap: 20px;
}

.textAreaFromAddProductContent {
    width: 200%;
}


.productArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

.productItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(175, 175, 175, 0.5);
}

.productButton {
    width: 100%;
    height: 20%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detailsProduct {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.detailsProduct img {
    width: 100px;
    height: 100px;
}

.inputOfProductsDetails {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 5px;
}




.productSuggestions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.productSuggestions img {
    max-width: 100px;
}

.productSuggestions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.productSuggestions li {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    width: 200px;
    height: 250px;
    border: 1px solid;
}

.productSuggestions li:hover {
    background-color: #f0f0f0;
    /* Destaque ao passar o mouse */
    transform: scale(1.05);
}


.crop-container {
    position: relative;
    width: 100%;
    height: 400px;
    background: #9c9c9c;
    margin-top: 20px;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 0, 0, 0.3);
    border-top: 5px solid red;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }