.navBarHomePage{
    height: 10%;
    width: 100%;
    display: flex;
    box-shadow: 0px 18px 73px -25px rgba(0,0,0,0.8);
    background-color: rgb(230, 44, 49);
    position: relative;
}

.listNavBarHomePage{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}

.optionsMenuBar{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Segoe UI';
    color: white;
}

.listNavBarHomePage li img{
    width: 50%;
}

.userMenu{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.5);
}

.userMenu:hover ~ .dropdown-menu{
    display: flex;
}

.dropdown-menu:hover{
    display: flex;
}

.dropdown-menu{
    background-color: white;
    width: 150px;
    height: 120px;
    position: absolute;
    display: none;
    right: 10px;
    top: 70px;
    border-radius: 10px;
}

.dropdown-menu-list{
    margin: 0;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-decoration: none;
}


.optionsAccount{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'Segoe UI';
    color: rgb(0, 0, 0);
}
.optionsAccount a{
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'Segoe UI';
    color: rgb(0, 0, 0);
    gap: none;
    
}

