.mainResetPassword{
    background-color: #e62c31;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mainResetPassword form{
    box-shadow: 10px 10px 26px 4px rgba(0,0,0,0.75);;
}

.textRedefinir{
    width: 70%;
    text-align: start;
}