.atalhos-container {
  position: relative;
  display: inline-block;
  margin: 50px;
}

.atalhos-box {
  background-color: #0d3b66; /* Azul escuro */
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}



.tooltip-title {
  font-weight: bold;
  color: #d00000;
  margin-bottom: 10px;
  text-align: center;
}

.tooltip-list {
  padding-left: 15px;
  font-size: 14px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
